<div>
  <div>
    <h1>
      Collections
    </h1>
  </div>
</div>

<hr>

<div class="card">
  <div class="card-body">
    At the end of every month, I publish a collection of my favorite things within the categories of food, music, clothing, and everything in-between.  
  </div>
</div>


<hr>
<div>
  <div>
    
      

      <% @list_of_collections.each do |a_collection| %> <% @list_of_items.each do |an_item| %>
      
      

    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= a_collection.name %></h5>
    <p class="card-text">See my <%= a_collection.name %> favorites</p>
    <a href="/items/<%= an_item.id %>" class="btn btn-primary">See Favorites</a>
    
  </div>
</div>
<% end %>
<% end %>

  </div>
</div>

<hr>
