<div>
  <div>
    <h1>
      Welcome to Savannah's Gallery
    </h1>
  </div>
</div>

<hr>


<hr>


      <% @list_of_pieces.each do |a_piece| %>

      <div class="card" style="width: 18rem;"> 
  <img src="breakfast.JPG" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= a_piece.image %></h5>
    <p class="card-text"><%= a_piece.description %></p>
  </div>
  
  <div class="card-body">
    <a href="/pieces/<%= a_piece.id %>" class="card-link">Show Details</a>
  </div>
</div>



     
      <% end %>
    

    
  </div>
</div>

<hr>
