
<div class=" text-center">
  <div class="card-body">
  </div>
  <div class="text-center">
  <img src="logo2.png" width="400" height="400"  alt="...">
  </div>
</div>

<div>
  <div class="text-center">
    <h1>
      Welcome to Savannah B. Gallery
    </h1>
  </div>
</div>


<div class="card text-center">
  <div>
  </div>
  <div class="card-body">
    <img src="bgch.jpeg" alt="Savannahs Logo" width="350" height="500" >
    <h5 class="card-title">"Black Girl, Call Home"</h5>
    <p class="card-text">2022 Acrylic and Oil on Canvas Named / Inspired by Jasmine Mans poetry collection about race, feminism, and queer identity. 2D Project for ARTV 29600 1 (Spring 2022) Junior Seminar</p>
  </div>
  <div>

  <div class="card text-center">
  <div>
  </div>
  <div class="card-body">
    <img src="breakfast.JPG" alt="Savannahs Logo" width="500" height="350" >
    <h5 class="card-title">"Breakfast (Plaintain & Egg)"</h5>
    <p class="card-text">2021 Winter Quarter Final for Introduction to Painting ARTV 22000</p>
  </div>
  <div>
<div class="card text-center">
  <div>
  </div>
  <div class="card-body">
    <img src="certain.JPG" alt="Savannahs Logo" width="500" height="500" >
    <h5 class="card-title">"certain feeling"</h5>
    <p class="card-text">2022 oil on canvas paper</p>
  </div>
  <div>
  <div class="card text-center">
  <div>
  </div>
  <div class="card-body">
    <img src="dod.jpg" alt="Savannahs Logo" width="550" height="350" >
    <h5 class="card-title">"Decriminalization of the Durag"</h5>
    <p class="card-text">2020 Acrylic Pieces 1 and 2 of the "Decriminalizing the Durag" series. These portraits seek to juxtapose the delicacies of nature and the aura of black men. Simultaneously, it sheds light on a cultural staple: the durag and highlights its prominence. Autumn Quarter Final for ARTV 21800 Studio Practice</p>
  </div>
  <div>
  <div class="card text-center">
  <div>
  </div>
  <div class="card-body">
    <img src="hands.JPG" alt="Savannahs Logo" width="400" height="350" >
    <h5 class="card-title">"Mothers Hands (Retwist)"</h5>
    <p class="card-text">2021 Winter Quarter Final for Introduction to Painting ARTV 22000</p>
  </div>
  <div>
  <div class="card text-center">
  <div>
  </div>
  <div class="card-body">
    <img src="orangeson.jpg" alt="Savannahs Logo" width="355" height="500" >
    <h5 class="card-title">"Orange Son"</h5>
    <p class="card-text">Cardboard Acrylic ​2018</p>
  </div>
  <div>
  <div class="card text-center">
  <div class="card-body">
    <img src="gold.jpg" alt="Savannahs Logo" width="400" height="500" >
    <h5 class="card-title">"Like Its Golden"</h5>
    <p class="card-text">Styrofoam Acrylic ​2018</p>
  </div>
  <div>
  <div class="card text-center">
  <div class="card-body">
    <img src="untitled.jpeg" alt="Savannahs Logo" width="350" height="500" >
    <h5 class="card-title">untitled</h5>
    <p class="card-text"> Acrylic on Drawing Paper ​2021</p>
  </div>
  <div>
  <div class="card text-center">
  <div class="card-body">
    <img src="unt.jpg" alt="Savannahs Logo" width="400" height="500" >
    <h5 class="card-title">untitled</h5>
    <p class="card-text">2021 Winter Quarter Final for Introduction to Painting ARTV 22000</p>
  </div>
  <div>
  <div class="card text-center">
  <div class="card-body">
    <img src="sp.jpg" alt="Savannahs Logo" width="400" height="500" >
    <h5 class="card-title">"Self Portrait on A Cold Fall Day"</h5>
    <p class="card-text">Styrofoam Acrylic ​2018</p>
  </div>
  <div>
  <div class="card text-center">
  <div class="card-body">
    <img src="savgreen.jpg" alt="Savannahs Logo" width="350" height="500" >
    <h5 class="card-title">"CornRowed"</h5>
    <p class="card-text">Cardboard Acrylic 2019</p>
  </div>
  <div>
  <div class="card text-center">
  <div class="card-body">
    <img src="is.JPG" alt="Savannahs Logo" width="400" height="500" >
    <h5 class="card-title">"Invasive Species"</h5>
    <p class="card-text">2021 Winter Quarter Final for Introduction to Painting ARTV 22000</p>
  </div>
  <div>
