<div class="display-1" </div>
<div class= "text-center" >Welcome.</div>

<div class="text-center">
  <img src="logo.png" width="500" height="500" class="rounded" alt="...">
</div>

<div class="d-grid gap-2 col-6 mx-auto">
  <a class="btn btn-danger" type="button" href="/galleries"> Go to the Gallery</a>
  <a class="btn btn-danger" type="button" href="/collections"> View the Monthly Collection</a>
  <a class="btn btn-danger" type="button" href="/user_sign_up"> Sign Up </a>
  <a class="btn btn-danger" type="button" href="/about">About the Artist</a>
</div>
