<h1>About the Artist </h1>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="artist.JPG" class="img-fluid rounded-start" alt="..." width="5000" height="5000">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">About the Artist</h5>
        <p class="card-text">My name is Savannah Bowman. I currently attend the University of Chicago as an Economics and Visual Arts Major. 

Ever since I was little, I’ve always thought more on the right side of the brain. I prefer holistic thought, imagination, and creativity to analytic thought, reasoning, and number skills. During my art classes I found it easy to express my feelings, thoughts, and new ideas through my work. I love how diverse art can be and the infinite possibilities in which one can express themselves. 
​
My concentration celebrates the essence of black people through intimate representation. My paintings portray the beauty of black people. I consider each person I paint as an attribute of myself, whether it be strength, fear, endurance, love. Painting has served as a form of meditation and relief; a portal that detaches me from the weight of the world. ​</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
